/Assets/SteamVR
/Assets/Oculus
/Assets/Temporary.unity*
.*.sw?
/.vs
/Library
/Temp
/*.csproj
/*.sln
*~
Thumbs.db
/*.VC.db
*.VC.VC.opendb

\.vscode/
/obj/Temp/Debug
obj/Debug/

VideoCaptureLib_Log\.txt

vrskio/VrskIO/.vs
vrskio/VrskIO/x64/Debug
